body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  padding: 0 45px;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.favoriteBtn {
  height: 20px;
}
