.item {
  width: 210px;
  height: 260px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  padding: 20px 30px 35px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  .imgContainer {
    display: flex;
    justify-content: center;
    position: relative;
    .img {
      width: 133px;
      height: 112px;
    }
    .heartBtn {
      width: 32px;
      height: 32px;
      border: 1px solid #f8f8f8;
      border-radius: 8px;
      display: grid;
      place-items: center;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #fff;
      transition: 0.3s ease;
      svg {
        path {
          transition: 0.3s ease;
        }
      }
    }
    .favorite {
      background: #fef0f0;
      svg {
        path {
          fill: #ff8585;
        }
      }
    }
  }

  .itemName {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .priceBlock {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
    width: 70%;

    .priceWord {
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: #bdbdbd;
      display: block;
    }
    .price {
      font-weight: 700;
      font-size: 14px;
      display: block;
    }

    .plusBtn {
      width: 32px;
      height: 32px;
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      display: grid;
      place-items: center;

      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}
